<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>New Paycheck</h1>

            <%= render 'form', paycheck: @paycheck %>

            <%= link_to 'Back', paychecks_path %>
        </div>
    </div>
</div>
