<div class="container">
<h1>New Item</h1>

<div class="card">
<div class="card-header">Create New Item</div>
<div class="card-body">
<%= render 'form', item: @item %>
</div>
</div>

<%= link_to 'Back', items_path %>

</div>